# Default permissions for all files not matched below
* @newrelic/dotnet @newrelic/java @newrelic/node @newrelic/phpc @newrelic/python @newrelic/ruby

# Team based ownership
/.github/workflows/dotnet.yml @newrelic/dotnet
/src/dotnet/ @newrelic/dotnet
/tests/dotnet/ @newrelic/dotnet

/.github/workflows/java.yml @newrelic/java
/src/java/ @newrelic/java
/tests/java/ @newrelic/java

/.github/workflows/nodejs.yml @newrelic/node
/src/nodejs/ @newrelic/node
/tests/nodejs/ @newrelic/node

/.github/workflows/php.yml @newrelic/phpc
/src/php/ @newrelic/phpc
/tests/php/ @newrelic/phpc

/.github/workflows/python.yml @newrelic/python
/src/python/ @newrelic/python
/tests/python/ @newrelic/python

/.github/workflows/ruby.yml @newrelic/ruby
/src/ruby/ @newrelic/ruby
/tests/ruby/ @newrelic/ruby
