# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---

name: ".NET Init Container CI"

concurrency:
  group: ${{ github.ref_name || github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'src/dotnet/**'
      - 'tests/dotnet/**'
      - '.github/workflows/dotnet.yml'
  push:
    paths:
      - 'src/dotnet/**'
      - 'tests/dotnet/**'
      - '.github/workflows/dotnet.yml'
    branches:
      - main
    # Do not run when a tag is created.
    tags-ignore:
      - "**"
  release:
    types:
      - published

jobs:
  test:
    if: github.event_name != 'release' || (github.event_name == 'release' && endsWith(github.ref, '_dotnet')) # Skip everything if this isn't .NET
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: dotnet
      TEST_APP_BUILD_ARGS: TARGETARCH=amd64

  publish:
    if: github.event_name == 'release' && endsWith(github.ref, '_dotnet') # Skip everything if this isn't .NET
    needs: test
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: dotnet
      ARCHITECTURE: linux/amd64,linux/arm64
