# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---

name: "Java Init Container CI"

concurrency:
  group: ${{ github.ref_name || github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'src/java/**'
      - 'tests/java/**'
      - '.github/workflows/java.yml'
      - '.github/workflows/publish.yml'
      - '.github/workflows/test.yml'
      - '.github/actions/**'
  push:
    paths:
      - 'src/java/**'
      - 'tests/java/**'
      - '.github/workflows/java.yml'
      - '.github/workflows/publish.yml'
      - '.github/workflows/test.yml'
      - '.github/actions/**'
    branches:
      - main
    # Do not run when a tag is created.
    tags-ignore:
      - "**"
  release:
    types:
      - published

jobs:
  test:
    if: github.event_name != 'release' || (github.event_name == 'release' && endsWith(github.ref, '_java')) # Skip everything if this isn't Java
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: java

  publish:
    if: github.event_name == 'release' && endsWith(github.ref, '_java') # Skip everything if this isn't Java
    needs: test
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: java
      ARCHITECTURE: linux/amd64,linux/arm64
