# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---

name: "Python Init Container CI"

concurrency:
  group: ${{ github.ref_name || github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'src/python/**'
      - 'tests/python/**'
      - '.github/workflows/python.yml'
      - '.github/workflows/publish.yml'
      - '.github/workflows/test.yml'
      - '.github/actions/**'
  push:
    paths:
      - 'src/python/**'
      - 'tests/python/**'
      - '.github/workflows/python.yml'
      - '.github/workflows/publish.yml'
      - '.github/workflows/test.yml'
      - '.github/actions/**'
    branches:
      - main
    # Do not run when a tag is created.
    tags-ignore:
      - "**"
  release:
    types:
      - published

# Declare default permissions as read only.
permissions: read-all

jobs:
  test:
    if: github.event_name != 'release' || (github.event_name == 'release' && endsWith(github.ref, '_python')) # Skip everything if this isn't Python
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: python

  publish:
    if: github.event_name == 'release' && endsWith(github.ref, '_python') # Skip everything if this isn't Python
    needs: test
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: python
