# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---

name: "Ruby Init Container CI"

concurrency:
  group: ${{ github.ref_name || github.ref || github.run_id }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - 'src/ruby/**'
      - 'tests/ruby/**'
      - '.github/workflows/ruby.yml'
  push:
    paths:
      - 'src/ruby/**'
      - 'tests/ruby/**'
      - '.github/workflows/ruby.yml'
    branches:
      - main
    # Do not run when a tag is created.
    tags-ignore:
      - "**"
  release:
    types:
      - published

jobs:
  test:
    if: github.event_name != 'release' || (github.event_name == 'release' && endsWith(github.ref, '_ruby')) # Skip everything if this isn't Ruby
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: ruby

  publish:
    if: github.event_name == 'release' && endsWith(github.ref, '_ruby') # Skip everything if this isn't Ruby
    needs: test
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    with:
      INITCONTAINER_LANGUAGE: ruby
