# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---
name: Init Container Test

on:
  workflow_call:
    inputs:
      INITCONTAINER_LANGUAGE:
        required: true
        type: string
      K8S_OPERATOR_IMAGE_TAG:
        required: false
        type: string
        default: edge
      INITCONTAINER_BUILD_ARGS:
        required: false
        type: string
      TEST_APP_BUILD_ARGS:
        required: false
        type: string

# Declare default permissions as read only.
permissions: read-all

jobs:
  test:  
    name: Run Kubernetes E2E tests for ${{ inputs.INITCONTAINER_LANGUAGE }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # 4.2.0
        with:
          persist-credentials: false

      - name: Extract Agent Version from Release Tag
        id: version
        if: github.event_name == 'release'
        run: |
          echo AGENT_VERSION=$(echo "${{ github.ref_name }}" | sed -e "s/^v//g" -e "s/_[a-zA-Z]*//g" -e "s/\.[0-9]*$//g") | tee -a ${GITHUB_ENV}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # 3.7.1

      - name: Start minikube
        uses: medyagh/setup-minikube@d8c0eb871f6f455542491d86a574477bd3894533 # 0.0.18

      - name: Deploy cert-manager to minikube
        run: |
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.14.5 --set installCRDs=true
          sleep 5
          kubectl wait --for=condition=Ready -n cert-manager --all pods

      - name: Deploy New Relic k8s-agents-operator to minikube
        run: |
          helm repo add k8s-agents-operator https://newrelic.github.io/k8s-agents-operator
          helm upgrade --install k8s-agents-operator k8s-agents-operator/k8s-agents-operator \
            --namespace=default \
            --set=licenseKey=${{ secrets.NEW_RELIC_LICENSE_KEY }} \
            --set=newRelicHost=${{ vars.NEW_RELIC_HOST }} \
            --set=controllerManager.manager.image.tag=${{ inputs.K8S_OPERATOR_IMAGE_TAG }}
          sleep 5
          kubectl wait --for=condition=Ready -n default --all pods

      - name: Build init container
        run: |
          BUILD_ARGS=${{ inputs.INITCONTAINER_BUILD_ARGS }}
          if [[ -n "${BUILD_ARGS}" ]]; then BUILD_ARGS="--build-arg=${BUILD_ARGS}"; fi
          if [[ -n "${{ env.AGENT_VERSION }}" ]]; then BUILD_ARGS="${BUILD_ARGS:-} --build-arg=AGENT_VERSION=${{ env.AGENT_VERSION }}"; fi
          eval "$(minikube docker-env)"
          docker build -t e2e/newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init:e2e src/${{ inputs.INITCONTAINER_LANGUAGE }}/ ${BUILD_ARGS}

      - name: Build test app container
        run: |
          BUILD_ARGS=${{ inputs.TEST_APP_BUILD_ARGS }}
          if [[ -n "${BUILD_ARGS}" ]]; then BUILD_ARGS="--build-arg=${BUILD_ARGS}"; fi
          eval "$(minikube docker-env)"
          docker build -t e2e/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e tests/${{ inputs.INITCONTAINER_LANGUAGE }}/ ${BUILD_ARGS}

      - name: Run e2e-test
        uses: newrelic/newrelic-integration-e2e-action@fd53fc95e287dcd7b5bd86a4a25d653aadf407d0  # 1.11.1
        # Skip e2e tests for dependabot PRs since dependabot can't access secrets
        if: github.actor != 'dependabot[bot]' 
        with:
          retry_seconds: 60
          retry_attempts: 5
          agent_enabled: false
          spec_path: tests/${{ inputs.INITCONTAINER_LANGUAGE }}/test-specs.yml
          account_id: ${{ secrets.NEW_RELIC_ACCOUNT_ID }}
          api_key: ${{ secrets.NEW_RELIC_API_KEY }}
          license_key: ${{ secrets.NEW_RELIC_LICENSE_KEY }}

  # This is currently only enabled for Python.
  # Once other teams complete work on init containers
  # the language conditional can be removed 
  azure:
    if: inputs.INITCONTAINER_LANGUAGE == 'python'
    name: Run Azure E2E tests for Python 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # 4.2.0
        with:
          persist-credentials: false

      - name: Extract Agent Version from Release Tag
        id: version
        if: github.event_name == 'release'
        run: |
          echo AGENT_VERSION=$(echo "${{ github.ref_name }}" | sed -e "s/^v//g" -e "s/_[a-zA-Z]*//g" -e "s/\.[0-9]*$//g") | tee -a ${GITHUB_ENV}

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
    
      - name: Log in to Azure Container Registry (ACR)
        uses: docker/login-action@v3
        with:
          registry: e2eazure.azurecr.io
          username: e2eazure
          password: ${{ secrets.ACR_REGISTRY_PASSWORD }}

      - name: Build and push Docker images to ACR
        run: |
          BUILD_ARGS=${{ inputs.TEST_APP_BUILD_ARGS }}
          if [[ -n "${BUILD_ARGS}" ]]; then BUILD_ARGS="--build-arg=${BUILD_ARGS}"; fi
          docker build --tag test-app-${{ inputs.INITCONTAINER_LANGUAGE }} tests/${{ inputs.INITCONTAINER_LANGUAGE }}/ --platform linux/amd64 ${BUILD_ARGS}
          docker tag test-app-${{ inputs.INITCONTAINER_LANGUAGE }} e2eazure.azurecr.io/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e
          docker push e2eazure.azurecr.io/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e
          if [[ -n "${{ env.AGENT_VERSION }}" ]]; then BUILD_ARGS="${BUILD_ARGS:-} --build-arg=AGENT_VERSION=${{ env.AGENT_VERSION }}"; fi
          docker build --tag newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init src/${{ inputs.INITCONTAINER_LANGUAGE }}/ --platform linux/amd64 ${BUILD_ARGS}
          docker tag newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init e2eazure.azurecr.io/newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init:e2e
          docker push e2eazure.azurecr.io/newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init:e2e

      - name: Create and deploy Container App (first time)
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: cli-test-container-app
          acrName: e2eazure
          imageToDeploy: e2eazure.azurecr.io/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e
          resourceGroup: cli-test-rg
          containerAppEnvironment: cli-test-env
          builderStack: alpine-bookworm
    
      - name: Azure CLI script to create license-key secrets
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az containerapp secret set --name cli-test-container-app --resource-group cli-test-rg --secrets license-key=${{ secrets.NEW_RELIC_LICENSE_KEY }}

      - name: Update and deploy Container App (with YAML file)
        uses: azure/container-apps-deploy-action@v1
        with:
          #appSourcePath: tests/${{ inputs.INITCONTAINER_LANGUAGE }}/
          #dockerfilePath: tests.${{ inputs.INITCONTAINER_LANGUAGE }}.Dockerfile
          containerAppName: cli-test-container-app
          #acrName: e2eazure
          #imageToBuild: e2eazure.azurecr.io/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e
          resourceGroup: cli-test-rg
          #containerAppEnvironment: cli-test-env
          #builderStack: alpine-bookworm   # verify that this works
          yamlConfigPath: ${{ github.workspace }}/tests/${{ inputs.INITCONTAINER_LANGUAGE }}/template_file.yaml
    
      - name: Run e2e-test for Azure
        uses: newrelic/newrelic-integration-e2e-action@fd53fc95e287dcd7b5bd86a4a25d653aadf407d0  # 1.11.1
        # Skip e2e tests for dependabot PRs since dependabot can't access secrets
        if: github.actor != 'dependabot[bot]'
        with:
          retry_seconds: 60
          retry_attempts: 5
          agent_enabled: false
          spec_path: tests/${{ inputs.INITCONTAINER_LANGUAGE }}/test-azure.yml
          account_id: ${{ secrets.NEW_RELIC_ACCOUNT_ID }}
          api_key: ${{ secrets.NEW_RELIC_API_KEY }}
          license_key: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
