# Copyright New Relic, Inc.
# SPDX-License-Identifier: Apache-2.0
---
name: Init Container Test

on:
  workflow_call:
    inputs:
      K8S_OPERATOR_IMAGE_TAG:
        required: false
        type: string
        default: edge
      ARCHITECTURE:
        required: false
        type: string
        default: linux/amd64
      INITCONTAINER_LANGUAGE:
        required: true
        type: string
      INITCONTAINER_BUILD_ARGS:
        required: false
        type: string
      TEST_APP_BUILD_ARGS:
        required: false
        type: string
      TEST_APP_HELM_CHART_ARGS:
        required: false
        type: string

# Declare default permissions as read only.
permissions: read-all

jobs:
  test:
    name: Run E2E tests for ${{ inputs.INITCONTAINER_LANGUAGE }}
    runs-on: ${{ startsWith(inputs.ARCHITECTURE, 'linux/arm') && 'ubuntu-latest-arm' || 'ubuntu-latest'}}
    env:
      TEST_APP_HELM_CHART_ARGS: ${{ inputs.TEST_APP_HELM_CHART_ARGS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          persist-credentials: false

      # Gives higher rate limits for image pulls
      - name: Login to Docker Hub Container Registry (Read Only)
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # 3.5.0
        # skip login for workflows triggered by Dependabot 
        if: github.actor != 'dependabot[bot]' 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN_READ_ONLY }}

      - name: Extract Agent Version from Release Tag
        id: version
        if: github.event_name == 'release'
        run: |
          echo AGENT_VERSION=$(echo "${{ github.ref_name }}" | sed -e "s/^v//g" -e "s/_[a-zA-Z]*//g" -e "s/\.[0-9]*$//g") | tee -a ${GITHUB_ENV}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # 3.11.1

      - name: Start minikube
        uses: medyagh/setup-minikube@e3c7f79eb1e997eabccc536a6cf318a2b0fe19d9 # 0.0.20

      - name: Deploy New Relic k8s-agents-operator to minikube
        run: |
          helm repo add k8s-agents-operator https://newrelic.github.io/k8s-agents-operator
          helm repo update
          helm upgrade --install k8s-agents-operator k8s-agents-operator/k8s-agents-operator \
            --namespace=default \
            --set=licenseKey=${{ secrets.NEW_RELIC_LICENSE_KEY }} \
            --set=controllerManager.manager.image.version=${{ inputs.K8S_OPERATOR_IMAGE_TAG }}
          sleep 5
          kubectl wait --for=condition=Ready -n default --all pods
          sleep 30

      - name: Build init container
        run: |
          BUILD_ARGS=${{ inputs.INITCONTAINER_BUILD_ARGS }}
          if [[ -n "${BUILD_ARGS}" ]]; then BUILD_ARGS="--build-arg=${BUILD_ARGS}"; fi
          if [[ -n "${{ env.AGENT_VERSION }}" ]]; then BUILD_ARGS="${BUILD_ARGS:-} --build-arg=AGENT_VERSION=${{ env.AGENT_VERSION }}"; fi
          eval "$(minikube docker-env)"
          docker build \
            -t e2e/newrelic-${{ inputs.INITCONTAINER_LANGUAGE }}-init:e2e \
            src/${{ inputs.INITCONTAINER_LANGUAGE }}/ \
            --platform=${{ inputs.ARCHITECTURE }} \
            ${BUILD_ARGS}

      - name: Build test app container
        run: |
          BUILD_ARGS=${{ inputs.TEST_APP_BUILD_ARGS }}
          if [[ -n "${BUILD_ARGS}" ]]; then BUILD_ARGS="--build-arg=${BUILD_ARGS}"; fi
          eval "$(minikube docker-env)"
          docker build \
            -t e2e/test-app-${{ inputs.INITCONTAINER_LANGUAGE }}:e2e \
            tests/${{ inputs.INITCONTAINER_LANGUAGE }}/ \
            --platform=${{ inputs.ARCHITECTURE }} \
            ${BUILD_ARGS}

      - name: Run e2e-test
        uses: newrelic/newrelic-integration-e2e-action@c548a33a0c2941a4db4899ded766923eb3178e0e  # 1.12.0
        # Skip e2e tests for dependabot PRs since dependabot can't access secrets
        if: github.actor != 'dependabot[bot]'
        with:
          retry_seconds: 60
          retry_attempts: 5
          agent_enabled: false
          spec_path: tests/${{ inputs.INITCONTAINER_LANGUAGE }}/test-specs.yml
          account_id: ${{ secrets.NEW_RELIC_ACCOUNT_ID }}
          api_key: ${{ secrets.NEW_RELIC_API_KEY }}
          license_key: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
